/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 mar 2018, 11:27:18
    Author     : paste
*/

body {
    background-color: white;
    
}

header {
    background-color: #063971;
    width: 90%;
    height: 30%;
}

#navMenuSuperioreav {
    background-color: #063971;
    float: left;
    
}

#navMenuSinistro {
    background-color: #063971;
    width: 30%;
    height: 70%;
}

li {
    list-style-type: none;
}
h1 {
    color: white;
    font-size: 30px;
}

h2 {
    color: white;
    font-size: 24px;
}

h3 {
    color: white;
    font-size: 20px;
}
