/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 mar 2018, 11:27:18
    Author     : paste
*/

/*
 * Imposto lo stile per il body
 */
body {
    background-color: white;
    margin: 0.5%;
}

#navMenuSuperiore {
    overflow: hidden;
    background-color: #29487d;
    border-style:groove;
    display: block;
    
}
#navMenuSuperiore a{
    float: left;    /* Addosso gli elementi a sinistra */            
    display:inline;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-style: groove;
    border-color: red; 
}
#navMenuSuperiore a:hover {
    background-color: #ddd;
    color: black;
}
#navMenuSinistro ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    color: white;
    text-align: left;
    border-style: groove;
    border-color: red;
}

#navMenuSinistro {
    background-color: #29487d;
    width: 200px;
    text-align: center;
    display: block;
}

h2 {
    color: white;
    border-style: groove;
    border-color: red;
}

article img{
    float: left;
    position: relative;
    top:5%;
    left:20%;
    float: left;
}